<div class="bg-green-900/10 p-6 rounded-lg shadow-xl border-l-4 border-sky-400">
    <h3 class="text-3xl font-bold mb-4 text-green-800 flex items-center gap-2">
        <span class="text-4xl">⛈️</span> Clima y Estacionalidad
    </h3>
    <p class="text-lg leading-relaxed text-gray-200">
        La Amazonía es el motor que impulsa el clima global. Sus árboles transpiran "ríos voladores" de vapor de agua
        que riegan el continente sudamericano entero. Aquí solo existen dos estaciones reales: cuando llueve mucho y
        cuando llueve muchísimo. Este ciclo de inundación y sequía es el latido del corazón de la selva, sumergiendo
        bosques enteros bajo 10 metros de agua y luego revelándolos de nuevo, fértiles y renacidos.
    </p>
</div>