<div class="bg-green-900/10 p-6 rounded-lg shadow-xl border-l-4 border-blue-400">
    <h3 class="text-3xl font-bold mb-4 text-green-800 flex items-center gap-2">
        <span class="text-4xl">🦋</span> Mariposas y Polillas
    </h3>
    <p class="text-lg leading-relaxed text-gray-200">
        Joyas voladoras que desafían la física. La <strong>Morpho Azul</strong>, del tamaño de un plato, destella un
        azul iridiscente visible desde avionetas, un truco de luz en sus escamas nanoscópicas, no pigmento. Por la
        noche, polillas del tamaño de murciélagos toman el relevo, navegando con antenas que detectan feromonas a
        kilómetros de distancia. Son la belleza efímera en un mundo de depredadores implacables.
    </p>
</div>