<div class="bg-green-900/10 p-6 rounded-lg shadow-xl border-l-4 border-gray-700">
    <h3 class="text-3xl font-bold mb-4 text-green-800 flex items-center gap-2">
        <span class="text-4xl">🕷️</span> Arañas e Invertebrados
    </h3>
    <p class="text-lg leading-relaxed text-gray-200">
        Ingenieros de ocho patas y pesadillas quitinosas. La <strong>Tarántula Goliat</strong>, capaz de cazar pájaros,
        camina con el peso de un cachorro. Las arañas tejedoras crean redes de seda más resistente que el acero para
        atrapar el aire mismo. Es un mundo alienígena donde escorpiones brillan bajo luz UV y ciempiés gigantes
        patrullan el suelo forestal como trenes blindados venenosos.
    </p>
</div>