<div class="bg-green-900/10 p-6 rounded-lg shadow-xl border-l-4 border-orange-500">
    <h3 class="text-3xl font-bold mb-4 text-green-800 flex items-center gap-2">
        <span class="text-4xl">🐜</span> Biología Social
    </h3>
    <p class="text-lg leading-relaxed text-gray-200">
        Si los humanos construyeron imperios, los insectos perfeccionaron la civilización mucho antes. Las
        <strong>Hormigas Cortadoras de Hojas</strong> marchan en autopistas químicas de kilómetros de largo, alimentando
        un hongo subterráneo en una agricultura más antigua que nuestra especie. Las termitas levantan rascacielos
        ventilados que avergüenzan a nuestros ingenieros. Aquí, el individuo no es nada; la colonia lo es todo, una
        mente enjambre que conquista la selva gramo a gramo.
    </p>
</div>