<div class="bg-green-900/10 p-6 rounded-lg shadow-xl border-l-4 border-emerald-600">
    <h3 class="text-3xl font-bold mb-4 text-green-800 flex items-center gap-2">
        <span class="text-4xl">🐸</span> Reptiles y Anfibios
    </h3>
    <p class="text-lg leading-relaxed text-gray-200">
        Bienvenidos al imperio de la sangre fría. Aquí, la <strong>Anaconda</strong> se desliza como un río muscular
        capaz de abrazar la vida hasta extinguirla, mientras el <strong>Caimán Negro</strong> observa con ojos
        prehistóricos que han visto pasar milenios. Pero el peligro también viene en frascos pequeños: las <strong>Ranas
            Dardo Venenoso</strong> exhiben su toxicidad letal con colores que harían palidecer a cualquier joya,
        advirtiendo al mundo que la belleza, en la Amazonía, a menudo se mira pero no se toca.
    </p>
</div>